<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168366726114-qpbdc42ekn9q8sq3naema2nc56ldt4vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168366726114-qpbdc42ekn9q8sq3naema2nc56ldt4vb</string>
	<key>API_KEY</key>
	<string>AIzaSyA0HOKPMiVgpFhtTqO2_wHZiHFftFDvZFE</string>
	<key>GCM_SENDER_ID</key>
	<string>168366726114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CwC-React-Native</string>
	<key>PROJECT_ID</key>
	<string>codingwithcurry-f111c</string>
	<key>STORAGE_BUCKET</key>
	<string>codingwithcurry-f111c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168366726114:ios:1cd2833a16bfc1c6a577bb</string>
	<key>DATABASE_URL</key>
	<string>https://codingwithcurry-f111c.firebaseio.com</string>
</dict>
</plist>